<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        if (!window.WebSocket) {
            window.WebSocket = window.MozWebSocket;
        }
        if (window.WebSocket) {
            webSocket = new WebSocket("ws://localhost:8080/webSocket");
            webSocket.onmessage = function (event) {
                var ta = document.getElementById('responseContext');
                ta.value += event.data + '\r\n'
            };
            webSocket.onopen = function (event) {
                var ta = document.getElementById('responseContext');
                ta.value = "您当前的浏览器支持websocket\r\n";
            };
            webSocket.onclose = function (event) {
                var ta = document.getElementById('responseContext');
                ta.value = "";
                ta.value = "链接已经关闭"
            }
        } else {
            alert("您的浏览器不支持webSocket")
        }
    </script>
    <!--<script src="/js/websocket.js"></script>-->
</head>
<body>
<div>
    <input type="button" id="open" value="开启websocket" onclick="openWebSocket()">
</div>
<div style="padding-top: 30px">
    <div style="float: left;">
        <h2>发送消息</h2>
        <form onsubmit="return false">
            <label>
                <input type="text" name="message" style="height: 60px"><br><br>
            </label>
            <input type="button" value="发送请求消息" onclick="send(this.form.message.value)">
        </form>
    </div>
    <div style="padding-left: 300px">
        <h2>
            <label>
                接收到的消息<br><br>
                <textarea id="responseContext" style="width: 300px; height: 100px"></textarea>
            </label>
        </h2>
    </div>
</div>
</body>
</html>